.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-top: 7%;
    margin-right: 3%;
}

h1 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.sessions-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
}

.session-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 5px;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.session-card p {
    margin: 5px 0;
    font-size: 14px;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

.create-session-btn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.create-session-btn:hover {
    background-color: #347635;
}

.logout-btn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #c82333;
}